<%= form_tag :action => @start_stop_action do %>
	<%= field_set_tag t('Activity tracking') do %>
		<button type="submit" name="<%= @start_stop_action %>"><%= @start_stop_action.capitalize %></button>
		<strong><%= t('Tracked activity') %>:</strong>
		<% if @start_stop_action == 'start' %>
			<%= text_field :new_tracking_info, :activity_name %>
			<%= text_field :new_tracking_info, :datetime_params %>
		<% else %>
			<%= @activity_spent %> - <%= @activity_name %>
		<% end %>
	<% end %>
<% end %>