<tr<%= ' class=in_ctt' if datetime.in_ctt == true %>>
  <td>
    <% if datetime.activities_id.nil? %>
        &nbsp;
    <% else %>
        <%= link_to_with_full_title Activity.find(datetime.activities_id).name,
                                    Activity.find(datetime.activities_id)
        %>
    <% end %>
  </td>
  <td>
    <% if datetime.start.today? %>
        <%= datetime.start.to_formatted_s :time %>
    <% else %>
        <%= datetime.start %>
    <% end %>
  </td>
  <td>
    <% if (datetime.stop.nil?) %>
        &nbsp;
    <% else %>
        <% if datetime.stop.today? %>
            <%= datetime.stop.to_formatted_s :time %>
        <% else %>
            <%= datetime.stop %>
        <% end %>
    <% end %>
  </td>
  <td><%= datetime.tags_from(current_user) %></td>

  <td class="action">
    <% unless datetime.in_ctt == true then %>
        <%= link_to link_to image_tag('icons/iconset/'+current_user.icon_set+'/in_ctt.png', :alt => t('In CTT'), :title => t('Yes, this is item is written to central time tracker') ), datetime_in_ctt_url(datetime) %>
  <% else %>
        <%= link_to link_to image_tag('icons/iconset/'+current_user.icon_set+'/not_in_ctt.png', :alt => t('Not in CTT'), :title => t('No, this is item is not yet written to central time tracker')), datetime_not_in_ctt_url(datetime), :confirm => t('Are you sure?') %>
    <% end %>
  </td>
  <%= render :partial => 'default/actions', :locals=>{:object => datetime}%>
</tr>
