<tr<%= ' class=in_ctt' if datetime.in_ctt == true %> id="datetime_<%=datetime.id%>">
  <td>
    <% if datetime.activity.nil? %>
        &nbsp;
    <% else %>
        <%= link_to_with_full_title datetime.activity.to_s,
                                    datetime.activity
        %>
    <% end %>
  </td>
  <td>
    <% if datetime.start.today? %>
        <%= l datetime.start, :format => :short %>
    <% else %>
        <%= l datetime.start %>
    <% end %>
  </td>
  <% if (datetime.stop.nil?) %>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  <% else %>
  <td>
    <% if datetime.stop.today? %>
        <%= l datetime.stop, :format => :short %>
    <% else %>
        <%= l datetime.stop %>
    <% end %>
    </td>
    <td>
      <%= print_time_difference datetime.start, datetime.stop %>
      <%= raw clippy print_time_difference datetime.start, datetime.stop %>
    </td>
  <% end %>

  <td><%= datetime.tags_from(current_user) %></td>

  <td class="action">
    <%= render :partial => "datetimes/datetime_actions", :locals => {:datetime => datetime} %>
  </td>
  <%= render :partial => 'default/actions', :locals=>{:object => datetime}%>
</tr>
