<tr<%= ' class=in_ctt' if datetime.in_ctt == true %>>
  <td>
    <% if datetime.activity.nil? %>
        &nbsp;
    <% else %>
        <%= link_to_with_full_title datetime.activity.to_s,
                                    datetime.activity
        %>
    <% end %>
  </td>
  <td>
    <% if datetime.start.today? %>
        <%= datetime.start.to_formatted_s :time %>
    <% else %>
        <%= datetime.start %>
    <% end %>
  </td>
  <% if (datetime.stop.nil?) %>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  <% else %>
  <td>
    <% if datetime.stop.today? %>
        <%= datetime.stop.to_formatted_s :time %>
    <% else %>
        <%= datetime.stop %>
    <% end %>
    </td>
    <td><%= print_time_difference datetime.start, datetime.stop %></td>
  <% end %>

  <td><%= datetime.tags_from(current_user) %></td>

  <td class="action">
    <% unless datetime.in_ctt == true then %>
        <%= link_to link_to image_tag('icons/iconset/'+current_user.icon_set+'/in_ctt.png', :alt => t('datetimes.ctt.in'), :title => t('datetimes.ctt.title.in_yes') ), datetime_in_ctt_url(datetime) %>
  <% else %>
        <%= link_to link_to image_tag('icons/iconset/'+current_user.icon_set+'/not_in_ctt.png', :alt => t('datetimes.ctt.not_in'), :title => t('datetimes.ctt.title.in_no')), datetime_not_in_ctt_url(datetime), :confirm => t('default.actions.confirmation') %>
    <% end %>
  </td>
  <%= render :partial => 'default/actions', :locals=>{:object => datetime}%>
</tr>
