<%= form_for(@datetime) do |f| %>
  <% if @datetime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@datetime.errors.count, "error") %> prohibited this datetime from being saved:</h2>

      <ul>
      <% @datetime.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :activity_id %><br/>
    <%= collection_select :datetime, :activity_id, Activity.all_owned_by(current_user), :id, :name %>
  </div>

  <div class="field">
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
  </div>
  <% if @datetime.stop? || @datetime.new_record? %>
  <div class="field">
    <%= f.label :stop %><br />
    <%= f.datetime_select :stop %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :description %> <span class="hint sub"><%= t 'default.form.markdown_enabled_field' %></span><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
