<h1><%= t('Listing datetimes') %></h1>
<table>
  <tr>
    <th><%= t('Activity') %></th>
	<th><%= t('From') %></th>
	<th><%= t('To') %></th>
	<th colspan="3"><%= t('Actions') %></th>
  </tr>

<% @datetimes.each do |datetime| %>
  <%= render datetime %>
<% end %>
</table>

<br />

<%= link_to t('New Datetime'), new_datetime_path %>
