<h1><%= t('.title') %></h1>

<%= will_paginate @datetimes %>
<table>
  <tr>
    <th><%= Datetime.human_attribute_name 'activity' %></th>
	<th><%= Datetime.human_attribute_name 'start' %></th>
	<th><%= Datetime.human_attribute_name 'stop' %></th>
	<th><%= Datetime.human_attribute_name 'spent_time' %></th>
	<th><%= Datetime.human_attribute_name 'tags' %></th>
	<th colspan="4"><%= t('default.actions.actions') %></th>
  </tr>

<% @datetimes.each do |datetime| %>
  <%= render datetime %>
<% end %>
</table>


<%= will_paginate @datetimes %>

<br />

<%= link_to t('.new'), new_datetime_path %>
