<p id="notice"><%= notice %></p>

<p>
  <b><%= t('Start') %>:</b>
  <%= @datetime.start %>
</p>

<p>
  <b><%= t('Stop') %>:</b>
  <%= @datetime.stop %>
</p>


<%= link_to t('Edit'), edit_datetime_path(@datetime) %> |
<%= link_to t('Back'), datetimes_path %>
