<p id="notice"><%= notice %></p>

<p>
  <b><%= t('Start') %>:</b>
  <%= @datetime.start %>
</p>

<p>
  <b><%= t('Stop') %>:</b>
  <%= @datetime.stop %>
</p>

<p>
  <b><%= t('Description') %>:</b>
  <%= simple_format @datetime.description %>
</p>

<p>
  <b><%= t('Tags') %>:</b>
  <%= @datetime.tags_from(current_user) %>
</p>


<%= link_to t('Edit'), edit_datetime_path(@datetime) %> |
<%= link_to t('Back'), datetimes_path %>
