<h1><%= t('.title') %></h1>

<table id="records-view">
  <tr>
    <th><%= Project.human_attribute_name 'name' %></th>
    <th><%= Project.human_attribute_name 'description' %></th>
    <th><%= Project.human_attribute_name 'project' %></th>
    <th colspan="3"><%= t('default.actions.actions') %></th>
  </tr>

<% @projects.each do |project| %>
  <tr class="<%= cycle(:odd, :even) %>">
    <td><%= project.name %></td>
    <td><%= project.description %></td>
    <td><%= project.project %></td>
    <%= render :partial => 'default/actions', :locals=>{:object => project}%>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('.new'), new_project_path %>
