<h1><%= t('Listing projects') %></h1>

<table>
  <tr>
    <th><%= t('Name') %></th>
    <th><%= t('Description') %></th>
    <th><%= t('Project') %></th>
    <th colspan="3"><%= t('Actions') %></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.description %></td>
    <td><%= project.project %></td>
    <%= render :partial => 'default/actions', :locals=>{:object => project}%>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('New Project'), new_project_path %>
