<p id="notice"><%= notice %></p>

<p>
  <b><%= t('Name') %>:</b>
  <%= @project.name %>
</p>

<p>
  <b><%= t('Description') %>:</b>
  <%= @project.description %>
</p>

<p>
  <b><%= t('Project') %>:</b>
  <%= @project.project %>
</p>


<%= link_to t('Edit'), edit_project_path(@project) %> |
<%= link_to t('Back'), projects_path %>
