<p id="notice"><%= notice %></p>

<p>
  <b><%= Project.human_attribute_name 'name' %>:</b>
  <%= @project.name %>
</p>

<p>
  <b><%= Project.human_attribute_name 'description' %>:</b>
  <%= @project.description %>
</p>

<p>
  <b><%= Project.human_attribute_name 'project' %>:</b>
  <%= @project.project %>
</p>


<%= link_to t('default.navigation.edit'), edit_project_path(@project) %> |
<%= link_to t('projects.index.title'), projects_path %>
