<%= form_for :user, @user, :url => {:action=>form_action} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="form">
  <tr class="field">
    <th><%= f.label :username %></th>
    <td><%= f.text_field :username %></td>
  </tr>
  <tr class="field">
    <th><%= f.label :email %></th>
    <td><%= f.text_field :email %></td>
  </tr>
  <tr>
    <th>
        <%= f.label :locales_id %>:
    </th>
    <td>
    	<%= collection_select :user, :locales_id, Locale.all(:order => "name ASC"), :id, :name %>
    </td>
  </tr>
  <tr>
    <th>
        <%= f.label :timezone %>:
    </th>
    <td>
    	<%= f.time_zone_select :timezone, ActiveSupport::TimeZone.us_zones %>
    </td>
  </tr>

  <tr>
    <th>
        <%= f.label :icon_set %>:
    </th>
    <td>
    	<%= f.radio_button(:icon_set, 'nuvola') %><%= f.label :icon_set_nuvola, 'Nuvola' %>
    	<%= f.radio_button(:icon_set, 'famfam') %><%= f.label :icon_set_famfam, 'Famfam' %>
    </td>
  </tr>
  <tr class="field">
    <th><%= f.label :password %></th>
    <td><%= f.password_field :password %></td>
  </tr>
  <tr class="field">
    <th><%= f.label :password_confirmation %></th>
    <td><%= f.password_field :password_confirmation %></td>
  </tr>
  <tr class="actions">
    <td colspan="2"><%= f.submit %></td>
  </tr>
</table>
<% end %>
