<h1><%= t('Account informations') %></h1>
<p id="notice"><%= notice %></p>

<table>
	<tr>
  <th><%= t('Username') %>:</th>
  <td><%= @user.username %></td>
	</tr>
<tr>
  <th><%= t('Email') %>:</th>
  <td><%= @user.email %></td>
</tr>
<tr>
    <th>
        <%= t('Language') %>:
    </th>
    <td>
    	<%= Locale.find(@user.locales_id).name %>
    </td>
</tr>
</table>
