<h1><%= t('.title') %></h1>
<p id="notice"><%= notice %></p>

<table>
	<tr>
  <th><%= User.human_attribute_name 'username' %>:</th>
  <td><%= @user.username %></td>
	</tr>
<tr>
  <th><%= User.human_attribute_name 'mail' %>:</th>
  <td><%= @user.email %></td>
</tr>
<tr>
    <th>
        <%= User.human_attribute_name 'language' %>:
    </th>
    <td>
    	<%= current_user.locale.name %>
    </td>
</tr>
</table>
