<h1><%= t('Listing activities') %></h1>

<table>
  <tr>
    <th><%= t('Name') %></th>
    <th><%= t('Description') %></th>
    <th colspan="3"><%= t('Actions') %></th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><%= activity.name %></td>
    <td><%= activity.description %></td>
    <td><%= link_to t('Show'), activity %></td>
    <td><%= link_to t('Edit'), edit_activity_path(activity) %></td>
    <td><%= link_to t('Destroy'), activity, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('New Activity'), new_activity_path %>
