<p id="notice"><%= notice %></p>

<p>
  <b><%= Activity.human_attribute_name 'name' %>:</b>
  <%= @activity.name %>
</p>

<p>
  <b><%= Activity.human_attribute_name 'project' %>:</b>
  <%= @activity.project %>
</p>

<p>
  <b><%= Activity.human_attribute_name 'description' %>:</b>
  <%= @activity.description %>
</p>


<%= link_to t('default.navigation.edit'), edit_activity_path(@activity) %> |
<%= link_to t('default.navigation.back'), activities_path %>
