<p id="notice"><%= notice %></p>

<p>
  <b><%= t('Name') %>:</b>
  <%= @activity.name %>
</p>

<p>
  <b><%= t('Project') %>:</b>
  <%= @activity.project %>
</p>

<p>
  <b><%= t('Description') %>:</b>
  <%= @activity.description %>
</p>


<%= link_to t('Edit'), edit_activity_path(@activity) %> |
<%= link_to t('Back'), activities_path %>
